In [5]:
# cargamos la tabla experimental
tab <- read.table('/home/hernan/Documents/example_tab.txt', sep='\t', header=TRUE) # poner entre comillas el path a la tabla
head(tab)

  exp1   exp2   exp3   exp4
1 a00001 a00001 a00001 a00005
2 a00002 a00005 a00002 a00006
3 a00003 a00006 a00004 a00007
4 a00004 a00007 a00008 a00008

In [18]:
# extraemos los nombres de las columnas (experimentos)
experimentos <- colnames(tab)
experimentos

[1] "exp1" "exp2" "exp3" "exp4"

In [14]:
# extraemos nombres de genes únicos
genes <- unique(unlist(tab))
genes

[1] "a00001" "a00002" "a00003" "a00004" "a00005" "a00006" "a00007" "a00008"

In [20]:
# creamos la nueva tabla
# Creamos una matriz 0, con #genes filas y #experimentos columnas
# Renombramos las filas a los nombres de los genes y las columnas a los nombres de las columnas
tab2 <- data.frame(matrix(0, 
                           nrow = length(genes), 
                           ncol = length(experimentos),
                           dimnames = list(genes, experimentos)))
tab2

       exp1 exp2 exp3 exp4
a00001 0    0    0    0
a00002 0    0    0    0
a00003 0    0    0    0
a00004 0    0    0    0
a00005 0    0    0    0
a00006 0    0    0    0
a00007 0    0    0    0
a00008 0    0    0    0

In [27]:
# llenamos la tabla2 con 1 en los genes que se detectan en cada experimento
for (exp in experimentos) {
    exp_genes = tab[, exp]
    tab2[exp_genes, exp] = 1
}
tab2

       exp1 exp2 exp3 exp4
a00001 1    1    1    0
a00002 1    0    1    0
a00003 1    0    0    0
a00004 1    0    1    0
a00005 0    1    0    1
a00006 0    1    0    1
a00007 0    1    0    1
a00008 0    0    1    1